{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main class="mt-md-5 mt-2">
        <div class="login_register">
            <div class="container">
                <div class="row">
                    <div class="login_form px-4 px-sm-5 py-4 my-5 text-light col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-10 offset-1">
                        <h2>Password reset complete</h2>
                        <p>Your new password has been set
                        </p>                        
                        <p>You can login now <a href="{% url 'login-user' %}" style="color: whitesmoke;">here</a></p>                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}