{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main class="mt-md-5 mt-2">
        <div class="login_register">
            <div class="container">
                <div class="row">
                    <div class="login_form px-4 px-sm-5 py-4 my-5 text-light col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-10 offset-1">
                        <h2>Set a new password!</h2>
                        

                        <form action="" method="post" class="my-5" id="password-reset-form">
                            {% csrf_token %}
                            {% for field in form %}      
                             
                             <div class="form-group my-3">
                                <label for="{{field.id_for_label}}" class="fs-4">{{field.label}}</label>
                                {{ field }}                                
                              </div>
                              {{field.errors}}                                                                                   
                             {% endfor %}
                            
                            <div class="form-group col-12 my-3 justify-content-center">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Change Password</button>                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}